//
// Wrapper
//
.section-wrapper
{
  padding : 50px;
}

@media (max-width : 480px)
{
  .section-wrapper
  {
    padding : 30px 20px;
  }
}

//
// Title
//
.section-title
{
  margin-bottom : 15px;
}

.section-title h2
{
  margin-bottom : 5px;
  color : #bebece;
}

//
// Background
//
.gray-bg
{
  background-color : #f9f9f9;
}