<section class="section-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Olá, bem-vindo ao meu site pessoal</h2>
        </div>
      </div>
      <div class="col-md-12 text-justify">
        <p>
          Sou Matheus Gentile, Analista de TI e Desenvolvedor Full-Stack Sênior na Empresa de Tecnologia da Informação Mato-Grossense (MTI).
        </p>
        <p>
          Formado em Sistema de Informação pela UNIVAG - Instituto Educacional Mato-Grossense em Várzea Grande-MT, Pós-Graduação em Gestão de TI pelo IFE Cursos em Cuiabá-MT.
        </p>
        <p>
          Desenvolvedor Full-Stack Sênior com mais de 12 anos de experiência focado em back-end. Atualmente trabalho com arquitetura e engenharia de software, com prática em cultura DevOps com tecnologias como Cloud, Red Hat OpenShift, Kubernetes, Docker, GitLab, GitHub, SonarQube, Nexus Repository OSS, Jenkins e microsserviços, e também, desenvolvedor utilizando tecnologias como Java, Spring Framework, Python, Node.js, React/Redux, Angular, Ionic, Flutter, React Native, Oracle Database, Microsoft SQL Server, MySQL, PostgreSQL, MongoDB e Redis.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- HABILIDADE -->
<section class="section-wrapper skills-wrapper gray-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Habilidade</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="progress-wrapper">
          <div class="progress-item">
            <span class="progress-title">HTML5, CSS, JavaScript e jQuery</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%">
                <span class="progress-percent" style="margin-left: 100%;"> 100%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Java, JSP, JSF, JPA e Maven</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%">
                <span class="progress-percent" style="margin-left: 80%;"> 80%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Spring Framework</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%">
                <span class="progress-percent" style="margin-left: 70%;"> 70%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">C#, ASP.NET e ASP.NET MVC</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%">
                <span class="progress-percent" style="margin-left: 60%;"> 60%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">PHP e Laravel</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%">
                <span class="progress-percent" style="margin-left: 60%;"> 60%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Python</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 20%">
                <span class="progress-percent" style="margin-left: 20%;"> 20%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Node.js, Express.js e Nest.js</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%">
                <span class="progress-percent" style="margin-left: 80%;"> 80%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Angular</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%">
                <span class="progress-percent" style="margin-left: 80%;"> 80%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">React/Redux</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%">
                <span class="progress-percent" style="margin-left: 50%;"> 50%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Ionic, Flutter e React Native</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%">
                <span class="progress-percent" style="margin-left: 50%;"> 50%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">MsSQL, MySQL, PgSQL, Oracle e MongoDB</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%">
                <span class="progress-percent" style="margin-left: 80%;"> 80%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">CentOS e Rocky Linux</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%">
                <span class="progress-percent" style="margin-left: 90%;"> 90%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">Cloud, DevOps, CI/CD, Kubernetes e Docker</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%">
                <span class="progress-percent" style="margin-left: 60%;"> 60%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">SonarQube, Nexus, Jenkins e Microsserviços</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%">
                <span class="progress-percent" style="margin-left: 60%;"> 60%</span>
              </div>
            </div>
          </div>
          <div class="progress-item">
            <span class="progress-title">UI/UX - Prototyping</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10%">
                <span class="progress-percent" style="margin-left: 10%;"> 10%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- EXPERIÊNCIA PROFISSIONAL -->
<section class="section-wrapper section-experience">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title"><h2>Experiência Profissional</h2></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2018 - 2019</small>
          <h4>
            Desenvolvedor Pleno<br/>
            <small>
              OniQ Consultoria e Tecnologia<br/>
              Angular, Ionic, Flutter, Node.js, MySQL e MongoDB.
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2006 - 2012</small>
          <h4>
            Desenvolvedor<br/>
            <small>
              UNIVAG - Centro Universitário de Várzea Grande<br/>
              C#, .Net Framework, Adobe Flex, HTML, jQuery e Microsoft SQL Server.
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2013 - atual</small>
          <h4>
            Analista de TI<br/>
            <small>
              Empresa Mato-Grossense de Tecnologia da Informação (MTI)<br/>
              Java 8+, JSF com PrimeFace, JPA, Spring Framework, Maven, Node.js, React/Redux, Angular 8+, PL/SQL Oracle, MS SQL Server, Oracle WebLogic Server, JBoss Application Server, Red Hat OpenShift, Kubernetes, Docker, Nexus, Jenkins, SonarQube, Microsserviços, GitLab e Pipeline CI/CD.
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2006</small>
          <h4>
            Desenvolvedor<br/>
            <small>
              Oazez Software e Tecnologia<br/>
              PHP, HTML, JavaScript, jQuery e Firebird Database.
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2012 - 2013</small>
          <h4>
            Assessor Técnico<br/>
            <small>
              SESC - Serviço Social do Comércio<br/>
              C#, .Net Framework, Android Studio, PHP, HTML, JavaScript, jQuery e Microsoft SQL Server.
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</section>

<!-- FORMAÇÃO COMPLEMENTAR -->
<section class="section-wrapper section-experience gray-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title"><h2>Formação Complementar</h2></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2022</small>
          <h4>
            DevOps Experience<br/>
            <small>
              Carga Horária: 8h<br/>
              DevOps Heroes
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2013</small>
          <h4>
            Integração dos Analistas em TI do CEPROMAT<br/>
            <small>
              Carga Horária: 16h<br/>
              Secretaria de Estado de Fazenda - SEFAZ/MT
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2021</small>
          <h4>
            PSM I - Professional Scrum Master I<br/>
            <small>
              Carga Horária: 16h<br/>
              AGILE.INC
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2013</small>
          <h4>
            Workshop Hands-On Softwell Maker<br/>
            <small>
              Carga Horária: 40h<br/>
              Secretaria de Estado de Fazenda - SEFAZ/MT
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2021</small>
          <h4>
            Aprenda Flutter e Desenvolva APPs para Android e IOS<br/>
            <small>
              Carga Horária: 55h<br/>
              Udemy
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2013</small>
          <h4>
            Gestão e Governança em TI<br/>
            <small>
              Carga Horária: 96h<br/>
              Secretaria de Estado de Fazenda - SEFAZ/MT
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2018</small>
          <h4>
            Gerenciamento de Projeto e Liderança (Guia PMBOK)<br/>
            <small>
              Carga Horária: 60h<br/>
              TS Consultoria Empresarial Ltda.
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2013</small>
          <h4>
            MCSA SQL Server 2012<br/>
            <small>
              Carga Horária: 120h<br/>
              TDS Tecnologia - Cuiabá/MT
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2014</small>
          <h4>
            Desenvolvimento Sharepoint<br/>
            <small>
              Carga Horária: 32h<br/>
              Secretaria de Estado de Fazenda - SEFAZ/MT
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-item">
          <small>2012</small>
          <h4>
            Formação em Governança de TI<br/>
            <small>
              Carga Horária: 96h<br/>
              TDS Tecnologia - Cuiabá/MT
            </small>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content-item">
          <small>2014</small>
          <h4>
            Desenvolvimento de Aplicação Java<br/>
            <small>
              Carga Horária: 152h<br/>
              Secretaria de Estado de Fazenda - SEFAZ/MT
            </small>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <!--<div class="content-item">
          <small>2012</small>
          <h4>
            Formação em Governança de TI<br/>
            <small>
              Carga Horária: 96h<br/>
              TDS Tecnologia - Cuiabá/MT
            </small>
          </h4>
        </div>-->
      </div>
    </div>
  </div>
</section>

<!-- CONTATO -->
<!--<section class="section-wrapper section-contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Contato</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="feedback-form">
          <form [formGroup]="contato" (ngSubmit)="enviar()">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" formControlName="nome" class="form-control" placeholder="Nome" [ngClass]="{'is-invalid': submitted && contato.controls['nome'].errors}">
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="E-mail" [ngClass]="{'is-invalid': submitted && contato.controls['email'].errors}">
            </div>
            <div class="form-group">
              <label for="mensagem" class="control-label">Mensagem</label>
              <textarea id="mensagem" formControlName="mensagem" rows="4" class="form-control" placeholder="Mensagem" [ngClass]="{'is-invalid': submitted && contato.controls['mensagem'].errors}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>-->